RewriteEngine On
RewriteBase /language-courses-new/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /language-courses-new/index.html [L]
